[ req ]
distinguished_name=dname
req_extensions=rel_cert_ext
prompt=no

[ dname ]
commonName=Related Certificate Test
countryName=US
stateOrProvinceName=MD
localityName=Annapolis Junction
organizationName=CCSS
organizationalUnitName=C54

[ rel_cert_ext ]
basicConstraints=CA:FALSE
keyUsage=digitalSignature, nonRepudiation
extendedKeyUsage=serverAuth, clientAuth
subjectKeyIdentifier=hash
relatedCertRequest=@rel_cert

